body {
  background: url('./back.jpg');
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

header {
  display: flex;
  gap: 4rem;
  font-size: 2rem;
  background-color: whitesmoke;
  align-self: stretch;
  display: flex;  
  justify-content: center;
  align-items: center;
  height: 4rem;
  padding: 1rem;
}

.headerDiv {
  padding: 0.6rem 1rem;
  border: 2px solid black;
  border-radius: 1rem;
}
.headerDiv:hover {
  background-color: skyblue;
}
.headerDiv:active {
  transform: translateY(2px);
  background-color: rgb(106, 163, 185);
}

#content {
  background-color: whitesmoke;
  width: min(80%, 700px);
  border-radius: 1rem;
  padding: 2rem;
  margin: 4.6rem 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
}

.box {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2rem;
  border: 3px solid black;
  border-radius: 1rem;
  padding: 0 1rem;
  margin-bottom: 4rem;
  width: 100%;
}

.divInBox, .menuItem, .contact {
  border: 2px solid black;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  min-width: 300px;
  max-width: 500px;
  margin: 2rem 0;
}

h2:last-child {
  text-align: right;
}

hr {
  border: none;
}

.divInBox:last-child > h2:first-child {
  text-align: left;
}

.menuImg, .contactImg {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 100rem;
  overflow: hidden;
}

.contact {
  display: flex;
}
